.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.no-products {
  font-size: 18px;
  color: #777;
  text-align: center;
  padding: 30px;
  border: 1px dashed #ddd;
  border-radius: 8px;
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
} 