.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.no-products {
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
  padding: 30px;
  border: 1px dashed var(--border-color);
  border-radius: 8px;
  margin-bottom: 40px;
  width: 100%;
  background-color: var(--card-background);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

@media screen and (max-width: 900px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
} 