.background-wrapper {
	width: 100%;
	position: relative;
	padding: 0 0 50px;
	overflow: hidden;
}

.background-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(245, 251, 252, 1);
	transform: skewY(-2deg);
	transform-origin: 110% 0%;
	z-index: -1;
} 