.category-filter {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  justify-content: center
}

.category-button {
  padding: 16px 46px;
  border: 1px solid rgba(97, 114, 131, 0.20);
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  color: #333;
  background-color: rgba(245, 251, 252, 1);
}

.category-button.active {
  background-color: #35B8BE; 
  color: white;
  border: none;
}



.category-button.disabled {
  opacity: 1; 
  pointer-events: none;
}

@media screen and (max-width: 576px) {
  .category-filter {
    flex-direction: column;
    gap: 10px;
  }
} 
