/* Стили для фильтров категорий */
.category-filter {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.category-button {
  padding: 16px 46px;
  background-color: transparent;
  border: 1px solid rgba(97, 114, 131, 0.20);
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.category-button.active {
  background-color: rgba(53, 184, 190, 1);
  color: white;
  border: none;
}

.category-button:not(.active):hover {
  background-color: rgba(53, 184, 190, 0.1);
}

@media screen and (max-width: 576px) {
  .category-filter {
    flex-direction: column;
    gap: 10px;
  }
} 