.main-content {
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
  text-align: center;
}

.menu-title {
  font-size: 56px;
  color: rgba(53, 184, 190, 1);
  font-weight: 400;
  margin-bottom: 15px;
}

.menu-description {
  font-size: 18px;
  color: rgba(84, 98, 133, 1);
  max-width: 600px;
  margin: 0 auto 60px;
  line-height: 1.6;
}

.highlight {
  color: rgba(53, 184, 190, 1);
  cursor: pointer;
  position: relative;
}

.see-more-button {
  background-color: rgba(53, 184, 190, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 6px;
  padding: 16px 46px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.see-more-button:hover {
  background-color: rgba(53, 184, 190, 0.2);
}

@media screen and (max-width: 768px) {
  .menu-title {
    font-size: 36px;
  }
  
  .menu-description {
    font-size: 16px;
    margin-bottom: 40px;
  }
} 