.background-wrapper-home {
	width: 100%;
	position: relative;
	padding: 0 0 50px;
	overflow: hidden;
}

.background-wrapper-home::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--section-background);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 67%);
	z-index: -1;
} 