:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #28224B;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
